/** VARIABLES **/
:root {
  --text-color: #503945;
}


/** MOBILE STYLES ***/

html,
#app,
body{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #ece9ea;
  color: var(--text-color);
}

.home {
  height: 100%;
  width: 100%;
  text-align: center;
}

.ui .divider {
  color: var(--text-color);
}

.fontFellEnglish .name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 1%;
  font-size: 3rem;
}

.menu {
  font-family: 'IM Fell English SC', serif;
  font-size: 2rem;
  margin: .5rem;
  padding: 1rem;
  text-align: left;

}

.center-paragraph {
  text-align: center;
}

.menu-item .ui .dropdown .active .visible {
  margin: .25rem;
  font-size: 3rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.container {
  height: 100%;
  max-width: 100%;
}

.text-container {
  font-family: 'Alegreya', serif;
  margin: 2rem 1rem;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: static;
}

.text-container p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


.fontFellEnglish {
  font-family: 'IM Fell English SC', serif;
  font-size: 2.5rem;
  color: var(--text-color);
}


.fontFellEnglish2 {
  font-family: 'IM Fell English SC', serif;
  font-size: 2rem;
  color: var(--text-color);
}

.fontAlegreya {
  font-family: 'Alegreya', serif;
  font-size: 2rem;
  color: #503945;
}

@media screen and (max-width: 400px) { 
.fontFellEnglish {
  font-family: 'IM Fell English SC', serif;
  font-size: 2rem;
  color: var(--text-color);
}


.fontFellEnglish2 {
  font-family: 'IM Fell English SC', serif;
  font-size: 1.5rem;
  color: var(--text-color);
}

.fontAlegreya {
  font-family: 'Alegreya', serif;
  font-size: 1.5rem;
  color: #503945;
}

}

Link {
  margin: 1rem;
  padding: 1rem;
  color: #2f9c48;
}

li a {
  color: var(--text-color);
}


li:hover {
  color: #2f9c48;
  text-decoration: underline;
}

li a {
  color: var(--text-color);
}

li a:hover {
  color: #2f9c48
}

a {
  color: var(--text-color);
}

a:hover {
  color: #2f9c48;
  text-decoration: underline;
}

em {
  font-weight: bold;
}

.offset-def {
  margin-left: 25%;
}

.definition {
  position: fixed;
  top: 40%;
  left: 40%;
  padding: .5rem;
  margin: .5rem;
  display: block;
}

@media screen and (max-width: 400px) {
  .offset-def {
    margin-left: 15%;
  }

  .definition {
    position: fixed;
    top: 20%;
    left: 10%; 
    padding: .75rem; 
    
  }

}

.image-self {
  -webkit-filter: grayscale(70%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(70%);
  max-width: 250px; 
  text-align: center;
  position: fixed;
  border: 2px solid var(--text-color);
} 

.image-container {
  text-align: center;
  
}

.avatar-me {
  border-radius: 50%;
  border: 1px solid var(--text-color);
  text-align: center;
  margin: .5rem;
  max-width: 200px;
  -webkit-filter: grayscale(60%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(60%);
}

.ui .image {
  border-radius: 3%;
  -webkit-filter: grayscale(60%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(60%);
}

.project-group {
  width: 80%;
  margin: 1rem;
  padding: 1rem;
}

.project-icon {
  padding: 2rem;

}

.heading {
  font-family: 'IM Fell English SC', serif;
  font-size: 2rem; 
  color: var(--text-color)
}

.footer {
  position: fixed absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'IM Fell English SC', serif;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 1rem; 
  background-color: #ece9ea;
}

.home-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'IM Fell English SC', serif;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 1rem; 
  background-color: #ece9ea;
}

.footer p {
  margin: .5rem;
}

.home-footer p {
  margin: .5rem;
}

.social-container {
  margin-bottom: 2rem;
}

.ink {
  display: block;
  width: 50px;
  height: 50px;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.0s;
  animation-duration: 1.0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.splatter {
  display: block;
  position: absolute;
  top: 5%;
  left: 70%;
  width: 500px;
  height: 500px;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.0s;
  animation-duration: 1.0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.splatter2 {
  display: block;
  position: absolute;
  top: 10%;
  left: 70%;
  z-index: 800;
  height: 250px;
  width: 250px;
  text-align: center;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.0s;
  animation-duration: 1.0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.splatter3 {
  display: block;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 800;
  height: 350px;
  width: 350px;
  text-align: center;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.0s;
  animation-duration: 1.0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
} 

@media screen and (max-width: 900px) {
  .splatter3 {
    display: none;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes zoomOut {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
