html, body, #app, #app>div {
  height: 100%;
 background-color: #ece9ea;
}

.fixed-bottom {
  position: fixed;
  top: 80%;
  left: 50%;
}

.heading {
  font-family: 'IM Fell English SC', serif;
  font-size: 2rem;
  color: #503945;
}

.paragraph {
  font-size: 1.5rem;
  color: #503945;
  font-family: 'Alegreya', serif;
  text-align: left;

}



.container {
  height: 100%;
  max-width: 100%;
} 



.divider {
 background-color: #503945;
 height: 1px; 
 width: 90%;
 margin: 2%;
}

.text-container {
  margin: 2rem 5rem;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.avatar {
  border-radius: 50%;
  border: 1px solid  #503945;
  text-align: center;
  margin: .5rem; 
  max-width: 200px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


a {
  color: #503945;
}

a:hover {
  color: #646d13;
}


li a {
  color: #503945;
  margin: 2rem;
}

li a:hover {
  color: #646d13;
  text-decoration: underline;
}

.fontFellEnglish {
  font-family: 'IM Fell English SC', serif;
  font-size: 3rem;
  color: #503945;

}

.fontAlegreya {
  font-family: 'Alegreya', serif;
  font-size: 1.5rem;
  color: #503945;
}

.fontGaramond {
  font-family: 'EB Garamond', serif;
}

.definition {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  padding: .5rem;
  margin: .5rem;
}

.offset-def {
  margin-left: 20%;
  font-size: 1rem;
} 

.name {
  display: block;
} 

.menu {
  font-family: 'IM Fell English SC', serif;
  font-size: 2rem;
  display: flex; 
  position: fixed;
  top: 0%;
  left: 0%;
  list-style-type: none;
 
}

@media only screen and (max-width: 750px) {
 
.fontFellEnglish {
  font-family: 'IM Fell English SC', serif;
  font-size: 2rem;
  color: #503945;

}

.fontAlegreya {
  font-family: 'Alegreya', serif;
  font-size: 1.5rem;
  color: #503945;
}

.fontGaramond {
  font-family: 'EB Garamond', serif;
}

.menu {
  font-family: 'IM Fell English SC', serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  
}

.underline {
  text-decoration: underline;
}




li {
  margin: .25rem;
}

.definition {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  padding: .5rem;
  margin: .5rem;
}

.offset-def {
  margin-left: 20%;
  font-size: 1rem;
}
}

@media only screen and (max-width: 400px) {
 
  .fontFellEnglish {
    font-family: 'IM Fell English SC', serif;
    font-size: 2.5rem;
    color: #503945;
  
  } 

  li a {
    color: #503945;
  }
  
  li a:hover {
    color: #646d13
  }

  .fontFellEnglish .name {
    display: block; 
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
  
  .fontAlegreya {
    font-family: 'Alegreya', serif;
    font-size: 1.5rem;
    color: #503945;
  }
  
  .fontGaramond {
    font-family: 'EB Garamond', serif;
  }
  
  .definition {
    top: 25%;
    left: 25%;
    font-size: 1rem;
    padding: .5rem;
    margin: .5rem;
  }
  
  .offset-def {
    font-size: 1rem;
  }
  }